.form-item {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px;
    border: solid black 1px;
}
.form-item > label {
    width: 100px;
    margin-right: 5px;
}
.form-item input, select {
    width: 100%;
    border: none;
}