.session-container {
    display: flex;
    flex-direction: column;
}

.session-item {
    border-bottom: solid black 1px;
    text-align: center;
    height: 40px;
    margin-top: 0;
    flex-grow: 1;
    background-color: #C9F9FF;
    color: gray;
    position: relative;

    
}
.session-text {
    line-height: 20px;
}

.session-item:hover {
    background-color: #2F4550;
    color: white;
}

.session-delete {
    float: right;
    text-decoration: none;
    color: white;
    visibility: hidden;
}
.session-item:hover .session-delete {
    visibility: visible;
}
